{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
{% include header.html %}
      <div id="content">
        {{ content | expand_urls: root_url }}
      </div>
      {% if page.list %}
      <ul class="list {{ page.class }}">
        {% for link in page.list %}
          {% if link.name %}
            <li class="{{ link.class }}">
              <a href="{{ link.url }}" class="{{ link.class }}" >
                <div class='left'
                  {% if link.image %}
                  style="background-image: url(/images/{{ link.image }});"
                  {% endif %}
                  title="{{ link.name }}"
                  ></div>
                <span class='name'>{{ link.name }}</span>
                {% if page.class != "biglist" %}
                <span class='description'>{{ link.description }}</span>
                <span class='date'>{{ link.date }}</span>
                {% endif %}
              </a>
              </li>
          {% else %}
            <li class='separator'></li>
            <li class='separator'></li>
          {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
{% include footer.html %}
