      </div>
      <div id="footer">
        &copy; Peter Sobot {{ site.copyright_date }}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="mailto:hi@petersobot.com">email</a>
      </div>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <script type="text/javascript" src="{{ root_url }}/javascripts/jquery.timeago.js"></script>
      <script type="text/javascript" src="{{ root_url }}/javascripts/twitter.js"></script>
      <script type="text/javascript" src="{{ root_url }}/javascripts/lastfm.js"></script>
      <script type="text/javascript" src="{{ root_url }}/javascripts/jquery.pjax.js"></script>
      <script type="text/javascript" src="{{ root_url }}/javascripts/fancybuttons.js"></script>
      <script type="text/javascript" src="{{ root_url }}/javascripts/punchout.js"></script>

      {% if page.includejs %}
        <script type="text/javascript" src="{{ root_url }}/javascripts/{{ page.includejs }}.js"></script>
      {% endif %}
    </div>
  </body>
</html>
