<body>
  <div id="background">
    <script>
      (function(){
        var isiOS = function() {
            return navigator.userAgent.toLowerCase().indexOf('mobile') > -1 &&
                   navigator.userAgent.toLowerCase().indexOf('safari') > -1 &&
                   navigator.userAgent.toLowerCase().indexOf('Android') == -1;
                 }
        var target = isiOS() ? document.body.children[0] : document.body;
        var _max = 30;
        target.style.backgroundImage = "url(/images/bgs/" +
        Math.floor(1 + Math.random() * _max)+ ".JPG)";
      })();
    </script>
    <div id="container">
      <div id="top">
        <h1><a href="/">{{ site.title }}</a></h1>
        <ul>
          {% if page.url != "/" %}
          {% for link in site.navigation %}
            {% assign current = nil %}
            {% if page.url == link.url %}
              {% assign current = 'active' %}
            {% endif %}
            <li class="{{ current }}">
              <a
                class="{{ current }}"
                href="{{ link.url }}"
              >
                  {{ link.text }}
              </a>
            </li>
            {% endfor %}
            <li class="email">
              <a href="mailto:{{ site.email }}">
                  contact
              </a>
            </li>
            {% endif %}
        </ul>
      </div>
