<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="author" content="{{ site.author }}">

    {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
    <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
    {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
    <link rel="canonical" href="{{ canonical }}">
    <link href="{{ root_url }}/favicon.png" rel="shortcut icon">
    {% if page.image %}
    <link rel="image_src" type="image/png" href="{{ root_url }}/images/{{ page.image }}" />
    {% endif %}
    <link
    href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400|PT+Serif:400,700,400italic{% if page.fonts %}|{{ page.fonts | join '|' }}{% endif %}'
      rel='stylesheet'
      type='text/css'
    >
    <link
      href="{{ root_url }}/stylesheets/screen.css"
      media="screen, projection"
      rel="stylesheet"
      type="text/css"
    >
    {% include google_analytics.html %}
</head>
