---
layout: list
permalink: /blog/
---
<ul class="list">
  {% assign index = true %}
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}" {% if link.pjax %} data-pjax="#content" {% endif %}>
        <div class='left'
          {% if post.image %}
            style="background-image: url(/images/{{ post.image }});"
          {% endif %}
          title="{{ post.title }}"
          ></div>
        <span class='name'>{{ post.title }}</span>
        <span class='date'>{{ post.date | date: "%B %-d, %Y" }}</span>
      </a>
      </li>
  {% endfor %}
</ul>
